<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.photostudio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotoStudio"
        tools:targetApi="31">

        <activity android:name=".PaymentPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="com.example.photostudio"
                    android:pathPrefix="/payment" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="pm.link"
                    android:pathPrefix="/gcash/success" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="www.yourapp.com"
                    android:pathPrefix="/verify" />
            </intent-filter>
        </activity>

        <activity android:name=".EditAccountPage" android:exported="false" />
        <activity android:name=".CodeVerificationPage" android:exported="false" />
        <activity android:name=".PairPackageActivity" android:exported="true" />
        <activity android:name=".SoloPackagePage" android:exported="true" />
        <activity android:name=".GroupPackage" android:exported="true" />
        <activity android:name=".BirthdayPage" android:exported="true" />

        <!-- RegisterActivity with Deep Links -->
        <activity android:name=".RegisterActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="yourapp" android:host="payment" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="com.example.photostudio"
                    android:path="/payment" />
            </intent-filter>
        </activity>

        <!-- Set BottomNavActivity as the Main Launcher -->
        <activity
            android:name=".BottomNavActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PhotoStudio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
